![gofpdf](image/logo_gofpdf.jpg?raw=true "gofpdf")

[![GoDoc](image/doc.svg?raw=true "godoc")](http://godoc.org/github.com/jung-kurt/gofpdf)
[![MIT](image/mit.svg?raw=true "godoc")](http://opensource.org/licenses/MIT)

{{.Doc}}
